<div>
  <ul>
    <% var windows_open = "";
      var windows_close = "";
      var start_open = "";
      var deadline = "";
      for(var i = 0;  i < turnpoints.length; i++) { %>
    <li class="taskboard-item">
      <span class="label label-default"
        style="background-color : <%- turnpoints[i].fillColor %>"><%- turnpoints[i].shortName %></span>
      <% 
            if (turnpoints[i].type ==  "takeoff") {
              windows_open = turnpoints[i].open;
              windows_close = turnpoints[i].close;
            }  
            if (turnpoints[i].type ==  "goal") {
              deadline = turnpoints[i].close;
            } 
        %>
      <%- turnpoints[i].id  + ' [' + turnpoints[i].radius  + ' m] '     %>
      <% if ( turnpoints[i].type == "start" ) { start_open = turnpoints[i].open; %>
      <%- turnpoints[i].mode.toUpperCase() %>
      <% } %>
      <span class="turnpointDistance">
        <% if ( taskInfo.distances[i - 1] ) { %>
        <%- taskInfo.distances[i-1].toFixed(1) + ' km' %>
        <% } %>
      </span>
    </li>
    <% } %>
  </ul>
  <hr>

  <div id="task-distance"> Task optimized distance: <%- (Math.round(taskInfo.distance) / 1000).toFixed(1) %> Km </div>
  <hr>
  <div id="task-times">
    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #383838 ;font-size: 1.0em; padding : 2px;">Task N. :
        <%- taskInfo.num %></span>
      <button id="increase-task" class="btn btn-primary btn-xs pull-right">+</button>
      <button id="decrease-task" class="btn btn-primary btn-xs pull-right">-</button>
    </div>

    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #383838 ;font-size: 1.0em; padding : 2px;">Date :
        <input type="input" id="taskDate" class="datepicker" value="<%- taskInfo.date %>"
          style="background-color : #383838 ;font-size: 1.0em; padding : 2px;" />
        <script>
          $("#taskDate").datepicker({
            dateFormat: 'dd-mm-yy',
            onSelect: function (dateText, inst) {
              var e = document.createEvent("CustomEvent");
              e.initCustomEvent('changeTaskDate', false, false, {
                date: dateText,
              });
              document.dispatchEvent(e);
            }
          });
        </script>
      </span>
    </div>

    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #383838 ;font-size: 1.0em; padding : 2px;">Turn :
        <%- taskInfo.turn %></span>
      <button id="toggle-turn" class="btn btn-primary btn-xs pull-right">T</button>

    </div>

    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #204d74 ;font-size: 1.0em; padding : 2px;">Takeoff open : <%- windows_open %></span>
    </div>
    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #204d74 ;font-size: 1.0em; padding : 2px;">Window close : <%- windows_close %></span>
    </div>
    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #ac2925 ;font-size: 1.0em; padding : 2px;">Start : <%- start_open %>
        <% if ( taskInfo.ngates > 1 ) { %> Gates:<%- taskInfo.ngates %> +<%- taskInfo.gateint %> Minutes<% 	} %> </span>
    </div>
    <div style="padding : 3px;"> <span class="label label-default"
        style="background-color : #398439 ;font-size: 1.0em; padding : 2px;">Task deadline : <%- deadline %></span>
    </div>
  </div>
</div>